# default index page
DirectoryIndex index.html

<IfModule mod_rewrite.c>
RewriteEngine On

## http -> https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE,QSA]
</IfModule>
